<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>jenkemService</servlet-name>
    <servlet-class>jenkem.server.JenkemServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>outputServlet</servlet-name>
    <servlet-class>jenkem.server.servlet.OutputServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>imageServlet</servlet-name>
    <servlet-class>jenkem.server.servlet.ImageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>jenkemService</servlet-name>
    <url-pattern>/jenkem/jenkem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>outputServlet</servlet-name>
    <url-pattern>/jenkem/output</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imageServlet</servlet-name>
    <url-pattern>/jenkem/image</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>Jenkem.html</welcome-file>
  </welcome-file-list>
</web-app>
