html {
    background-color: #CCCCCC;
}

.everything {
    background: #CCCCCC;
}

#content {
    background: white;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

textarea {
    resize: none;
}

#closeButton {
    margin: 15px 6px 6px;
}

.menu-table { /* border: 1px solid #777777; */
    background-color: #D0E4F6;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

div#page {
    background: #CCCCCC;
    width: 1024px;
    height: 768px;
    margin: 0 auto;
}

.slider {
    float: right;
    align: right;
    text-align: right;
    font-weight: bold;
}

.white {
    color: #000000;
    background: #ffffff;
}

.black {
    color: #ffffff;
    background: #000000;
}

.darkBlue {
    color: #ffffff;
    background: #00007f;
}

.darkGreen {
    color: #ffffff;
    background: #009300;
}

.red {
    color: #ffffff;
    background: #ff0000;
}

.brown {
    color: #ffffff;
    background: #7f0000;
}

.purple {
    color: #ffffff;
    background: #9c009c;
}

.orange {
    color: #000000;
    background: #fc7f00;
}

.yellow {
    color: #000000;
    background: #ffff00;
}

.green {
    color: #000000;
    background: #00ff00;
}

.teal {
    color: #ffffff;
    background: #009393;
}

.cyan {
    color: #000000;
    background: #00ffff;
}

.blue {
    color: #ffffff;
    background: #0000ff;
}

.magenta {
    color: #000000;
    background: #ff00ff;
}

.gray {
    color: #ffffff;
    background: #7f7f7f;
}

.lightGray {
    color: #000000;
    background: #d2d2d2;
}
