<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Jenkem</display-name>
    <context-param>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>Jenkem Application</servlet-name>
        <servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
        <init-param>
            <param-name>UI</param-name>
            <param-value>jenkem.JenkemInit</param-value>
        </init-param>
        <init-param>
            <param-name>widgetset</param-name>
            <param-value>jenkem.JenkemWidgetset</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jenkem Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jenkem Application</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>htmlOutputServlet</servlet-name>
        <servlet-class>jenkem.servlet.HtmlOutputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>htmlOutputServlet</servlet-name>
        <url-pattern>/jenkem/output</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cssOutputServlet</servlet-name>
        <servlet-class>jenkem.servlet.CssOutputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cssOutputServlet</servlet-name>
        <url-pattern>/jenkem/cssOutput</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ircOutputServlet</servlet-name>
        <servlet-class>jenkem.servlet.IrcOutputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ircOutputServlet</servlet-name>
        <url-pattern>/jenkem/irc</url-pattern>
    </servlet-mapping>
</web-app>
